.footer {
  font-size: smaller;
  color: #00000088;
  display: flex;
  flex-flow: row wrap;
  margin-top: auto;
  padding: 74px 20px 20px 20px;
  gap: 20px;

  & > section {
    flex: 0;
    min-width: 130px;
    row-gap: 4px;
    flex: 0;
    display: flex;
    flex-flow: column;
  }

  .wide {
    flex: 1;
    min-width: 320px;
  }

  .link {
    color: #7953cd;
  }

  .donate {
     background: linear-gradient(
        to right,
        #7953cd 20%,
        #00affa 30%,
        #0190cd 70%,
        #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
  }

}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

