@import '../../utility';

.main {
  .pageLayout {
    padding: 24px;
  }

  .tabPanel {
    padding: 0;
  }

  .chats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .article {
    max-width: 600px;
  }
}
