.component {
  display: grid;
  column-gap: 12px;
  grid-template:  "icon content" min-content / 40px auto;

  &.hasActions {
    grid-template:  "icon content actions" min-content / 40px auto min-content;
  }

.icon {
  grid-area: icon;
  width: 20px;
  color: #d2d2d2;
  margin-left: auto;
}

.content {
  grid-area: content;
}

.description {

}

.children {
  display: flex;
  justify-content: space-between;
}

.tags {
  grid-area: tags;
}

.actions {
  grid-area: actions;
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  column-gap: 8px;
}

.title, .subtitle {
  font-weight: 400;
}

.title {

}

.subtitle {

}
}