.button {
  min-height: 30px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 4px 4px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  opacity: .7;
  transition: .3s;
  min-width: 30px;

  &:hover, 
  &:active {
    background-color: #00000011;
    opacity: 1;
  }

  &:active {
    border-color: #00000044;
  }

  &.hasLabel {
    padding: 4px 8px;
  }
}
