.card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  column-gap: 12px;
  border-radius: 20px;
  max-height: fit-content;
  background-color: white;
  transition: all .3s;

  &:hover {
      box-shadow: 0 0 3px 1px #183596a2;
  }

  @for $i from 1 through 9 {
    &.span#{$i}  {
      grid-row: span #{$i};
    }
  }

  &.singleCard {
    &:hover {
      box-shadow: none;
    }
  }
}

.header {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 12px;
  position: relative;
  min-height: 76px;
  padding: 16px;

  .logo {
    max-width: 30px;
  }

  .titles {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 0;
  }

  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
  }

  .subtitle {
    font-weight: 400;
    opacity: 0.7;
  }

  .buttons {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
  }
}

.body {
  padding: 0 16px 16px 16px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  &.hidden {
    display: none;
  }

  &.noHeader {
    padding-top: 16px;
  }

  .subgroup {
    display: flex;
    row-gap: 8px;
  }
}
