@import '../utility';

.nav {
  color: #000;
  white-space: nowrap;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border-bottom: 1px solid transparent;

  &.active {
    border-bottom-color: black;
  }

}

.navWrapper {
  display: flex;
}

.logo {
  margin-right: 20px;
  align-self: center;
}
