@import '../utility';

.section {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(1, 1fr);

  @include mq(mobile) {
    grid-template-columns: repeat(1, 1fr);
  }

  @include mq(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq(tablet-landscape) {
    grid-template-columns: repeat(3, 1fr);
  }

}
