.component {
}

.searchInput{
  background-color: transparent;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  box-shadow: 0 0 2px 0 #00000044;
  line-height: 36px;
  height: 36px;
  padding: 0 12px;
  margin: 2px 0;
  width: 100%;
  display: inline-block;
  background-color: #00000011;
}
