.container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  row-gap: 24px;
}

.icon {
  width: 32px;
  flex: 0 32px;
  display: flex;
  justify-content: center;
  color: #00000066;
}

.content {
  flex: 1 0;
}
