.support {
  border: 1px solid #00000011;
  border-radius: 20px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: gray;
  font-size: smaller;
}

.link {
  color: var(--link-color);
  text-decoration: underline;
}
