.main {
  display: grid;
  flex-direction: column;
  gap: 20px;
  grid-template:
    "header" auto
    "cards" auto / 1fr;

  .header {
    grid-area: header;
  }

  .group {
    flex: 1;
    margin-top: 2em;
    display: flex;
    flex-flow: column;
    row-gap: 24px;
    min-width: 250px;
    max-width: 333px;
  }

  .form {
    margin: 0 20px;
    display: flex;
    column-gap: 24px;
    flex-flow: row wrap;
    margin-bottom: 2em;
  }

}
