
.main {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.labels {
  display: flex;
  flex-flow: row wrap;
}

.label  {
  flex: 0 0 300px;
  display: flex;
  line-height: 20px;
  flex-flow: row nowrap;
  min-height: 32px;
  align-items: center;
  transition: color .3s;
  cursor: pointer;

  &:hover {

    color: var(--link-color);
  }
}

.checkbox {
  margin-right: 12px;
  width: 18px;
  height: 18px;
}

.info {
  font-size: smaller;
  margin-bottom: 24px;
}


.buttons {
  margin-top: 16px;
  display: inline-flex ;
  flex-direction: row;
  column-gap: 16px;
  width: 100%;
}


.submit {
  border: 1px solid var(--link-color);
}
